body {
    margin: 0;
    font-family: Arial;
    background: #0b0f1a;
    color: white;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: #020617;
    box-shadow: 0 0 10px #00ffcc;
}

.logo {
    color: #00ffcc;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #00ffcc;
}

/* HERO */

.hero {
    text-align: center;
    padding: 120px 20px;
    background: linear-gradient(135deg, #020617, #111827);
}

.hero h2 {
    font-size: 50px;
    color: #00ffcc;
}

/* BUTTON */

.button {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 30px;
    background: #00ffcc;
    color: #020617;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px #00ffcc;
}

/* CARDS */

.card-section {
    text-align: center;
    padding: 80px 20px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.card {
    background: #111827;
    padding: 30px;
    width: 250px;
    border-radius: 15px;
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(0, 255, 204, 0.2);
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px #00ffcc;
}

/* GALLERY */

.gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 60px 20px;
}

.gallery img {
    width: 300px;
    border-radius: 15px;
    transition: 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #00ffcc;
}

/* DOWNLOAD */

.download {
    text-align: center;
    padding: 80px 20px;
    background: #020617;
}

/* FOOTER */

footer {
    text-align: center;
    padding: 30px;
    background: #020617;
    margin-top: 40px;
}